In [1]:
import pandas as pd
import numpy as np

### Importer le dataset

In [2]:
# ici c'est un csv, mais ça peut être un fichier _excel, _json, _parquet...

## 1. Les bases

In [3]:
# afficher les premières lignes

In [4]:
# afficher les dernières lignes

In [5]:
# afficher la taille du dataframe

In [6]:
# récupérer le nom des colonnes

In [7]:
# récupérer le type des colonnes

In [8]:
# description générale du dataset

In [9]:
# vérifier si valeurs manquantes

## 2. Créer un dataframe

In [10]:
# dataframe vide

In [11]:
# à partir d'un dictionnaire

In [12]:
# changer le type d'une colonne

## 3. Modifier/ajouter des colonnes

In [13]:
# Créer une colonne starts_with_N qui retourne 1 si le nom du pays commence par N, 0 sinon
# 1ère méthode

In [14]:
# 2ème méthode

#### Exercice

In [15]:
# Créer une colonne binary_score qui retourne 1 si le score est strictement supérieur au score moyen
# de tous les pays, 0 sinon

In [16]:
# 1ere méthode

In [17]:
#2e méthode

## 4. Supprimer une colonne

In [18]:
# Option 1:

In [19]:
# Option 2:

## 5. Renommer une colonne

## 6. Slicer le dataframe

In [20]:
# garder les pays contents

In [21]:
# Sélectionner certaines colonnes

### Exercice

In [22]:
# Créer un dataframe contenant les 5 premières colonnes et les pays qui ont une espérance de vie moyenne
# supérieure à la médiane de tous les pays

In [23]:
# Selectionner les colonnes numériques

In [24]:
# Sélectionner les colonnes catégorielles

### Utilisation de iloc, loc

In [25]:
# 100 premières lignes

### Exercice

In [26]:
# Sélectionner les 50 dernières lignes et les 4 dernières colonnes

In [27]:
# aussi loc

## 7. Ajouter/supprimer des lignes

In [28]:
# ajouter une colonne "Palaiseau"

### Exercice

In [29]:
# enlever la dernière ligne avec 'drop'

## 8. Trier

In [30]:
# tri dans l'ordre décroissant de 'Overall rank' et 'Social support'

### Exercice

In [31]:
# trier le dataframe dans l'ordre croissant de "Perceptions of corruption"

## 9. Joins

In [ ]:
# https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html

### Exercice

In [32]:
# Créer deux dataframes de deux colonnes chacuns : 
# 1er dataframe
# colonnes : id et Marks
# pour id : de 1 à 100
# pour Marks : entier aléatoire entre 0 et 100


# 2e dataframe
# colonnes : id et Age
# pour id : de 1 à 100
# pour Age : entier aléatoire entre 0 et 100

### Cross join

### Inner Join

### Left and right outer join

In [33]:
# on ajoute des lignes

### Full outer Join

In [34]:
# on ajoute des lignes

### Union

In [35]:
# concaténation

## 10. Groupby

In [36]:
# calculs

In [37]:
# utiliser la fonction agg

### Exercice

In [38]:
# Créer un dataframe avec le nom de tous les pays dans chaque classe de "Binary_score"